<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
</head>
<body>
    <h1>Task List</h1>
    <a href="{% url 'Createtask' %}">Create New Task</a>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
               
                <td>{{ task.taskname }}</td>
                <td><a href="{% url 'taskdetail' task.id %}">View Details</a></td>
                <td><a href="{% url 'updatetask' task.id %}">Update Task</a></td>  <!-- Changed URL name to lowercase -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>